body{
    margin: 0;
    font-family: 'Inter', sans-serif;
}
section{
    height: 500px;
    padding-bottom: 250px;
}
.top-banner{
    background-image: url(images/Rectangle\ 237.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

p{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    padding-bottom: 2%;
    font-size: 15px;
}
#header-text{
    margin-top: 15%;

}
#header-text p{
    padding-bottom: 5%;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 80%;
    padding-top: 8.3%;

}

h1{
    font-size: 50px;
}
h2{
    font-size: 30px;
}
.donate-btn{
    text-decoration: none;
    background-color: #FF5959;
    border-radius: 5px;
    padding: 10px 25px;
    color: white;
}
/*Donate today start */
.donate-part{
    display:block;
    text-align: center;
    width: 100%;
    
    
}
ul{
    list-style-type: none;
    padding-bottom: 2%;
    
}
ul li{
    display: inline-block;
    padding: 20px 10px;
    margin-left: 2%;
    background-color: #eeeeee;
    
    
}
.active{
    background-color:#eeeeee;
    border: solid #FF5959;
    border-radius: 2px;
    color:#FF5959;  
}
input{
    border: none;
    text-align: center;
}
input:focus{
    outline: none;
}
